<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="static/login.css">
</head>

<body>
  <div class="container">
    <h1 class="header">Login</h1>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="email" class="text"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password" class="text"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p class="footer"> Don't have account? <a href="{% url 'signup' %}">Create New Account &#8594;</a></p>
  </div>

</body>
</html>