<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Project Details</title>-->
<!--</head>-->
<!--<body>-->
<!--    {% for room in rooms %}-->
<!--        <h1>{{ room.name }}</h1>-->
<!--    {% endfor %}-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Project Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/projectdetails/assets/img/favicon.png" rel="icon">
  <link href="static/projectdetails/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'projectdetails/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'projectdetails/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'projectdetails/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'projectdetails/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'projectdetails/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'projectdetails/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'projectdetails/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'projectdetails/assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">



  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">HEM</h1>
          <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
  <!--          <li><a href="#hero" class="active">Home<br></a></li>-->
            <li class="dropdown"><a href="/userindex"><span>Home</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="/userindex#about">About</a></li>
                <li><a href="/userindex#services">Services</a></li>
                <li><a href="/userindex#team">Team</a></li>
                <li><a href="/userindex#footer">Contact Us</a></li>
              </ul>
            </li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li class="dropdown"><a href="#"><span>Project</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li class="dropdown"><a href="#"><span>Installation</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                        <li><a href="/createproject">New Project</a></li>
                        <li><a href="/project">Open Existing Project</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Real-Time Monitoring</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                        <li><a href="#">New Project</a></li>
                        <li><a href="#">Open Existing project</a></li>
                      </ul>
                    </li>
                  </ul>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <div class="navmenu">
          <ul>
            {% if user is not none %}
            <li class="dropdown"><a href="#"><span>Hi {{ user.first_name }} </span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
          </ul>
        </div>

          {% else %}
              <a class="btn-login" href="/login">Login</a>
          {% endif %}

      </div>
  </header>

  <aside class="w3-sidebar w3-light-grey w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
      <div class="w3-container">
<!--        <h3 class="w3-padding-64"><b>Home Energy<br>Management<br>System</b></h3>-->
        <h3 class="w3-padding-64"><b>{{project.name}}</b></h3>
      </div>

      <div class="w3-bar-block">
        <a onclick="myAccFunc2()" href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-yellow" id="myBtn">
          Room <!-- <i class="fa fa-caret-down"></i>-->
        </a>
<!--        <div id="install" class="w3-bar-block w3-hide w3-padding-large w3-medium">-->
<!--          <a href="#" class="w3-bar-item w3-button w3-hover-yellow">Room 1</a>-->
<!--          <a href="#" class="w3-bar-item w3-button w3-hover-yellow">Room 2</a>-->
<!--          <a href="#" class="w3-bar-item w3-button w3-hover-yellow">...</a>-->
<!--        </div>-->
        <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-yellow">Rooftop Solar Generation</a>
        <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-yellow">Installation Recommendations</a>
      </div>
    </aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Project Details</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Room Construction</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable" >
                <thead>
                  <tr>
                    <th>Room Name</th>
                    <th>Description</th>
                    <th>Room Application</th>
                    <th>Length (m)</th>
                    <th>Width (m)</th>
<!--                    <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>-->
                    <th>Height (m)</th>
                    <th>Size (m2)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for room in rooms %}
                  <tr>
                    <td>{{ room.name }}</td>
                    <td>{{ room.desc }}</td>
                    <td>{{ room.app }}</td>
                    <td>{{ room.length }}</td>
                    <td>{{ room.width }}</td>
                    <td>{{ room.height }}</td>
                    <td>{{ room.length }} x {{ room.width }}</td>
                    <td>
                      <form method="post" action="{% url 'delete_room' room.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Other Properties</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>Room Name</th>
                    <th>Room Colour</th>
                    <th>Room Occupants</th>
                    <th>No. of Window</th>
                    <th>Window Size (m2)</th>
                    <th>Window Orientation</th>
<!--                    <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>-->
                  </tr>
                </thead>
                <tbody>
                  {% for room in rooms %}
                  <tr>
                    <td>{{ room.name }}</td>
                    <td>
                      <input type="color" class="form-control form-control-color" style="background-color:white; padding:0px;" value="{{room.color}}" disabled>
                    </td>
                    <td>{{ room.occupants }}</td>
                    <td>{{ room.window_num }}</td>
                    <td>{{ room.window_size }}</td>
                    <td>{{ room.window_orientation }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lighting System</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>Room Name</th>
                    <th>Lamp Specification</th>
                  </tr>
                </thead>
                <tbody>
                  {% for room in rooms %}
                  <tr>
                    <td>{{ room.name }}</td>
                    <td>{{ room.lamp_specs }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cooling System</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>Room Name</th>
                    <th>Air Conditioning Type</th>
                  </tr>
                </thead>
                <tbody>
                  {% for room in rooms %}
                  <tr>
                    <td>{{ room.name }}</td>
                    <td>{{ room.aircond_type }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                  <form method="post" action="{% url 'movetorooms' project.id %}">
                      {% csrf_token %}
                      <button class="btn btn-primary" style="float: right; margin-right: 30px;">Edit Project</button>
                  </form>
                <form method="post" action="{% url 'delete' project.id %}">
                      {% csrf_token %}
                      <button class="btn btn-primary" style="float: right; margin-right: 30px; background-color: red">Delete Project</button>
                  </form>
              </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
<!--  <footer id="footer" class="footer">-->
<!--    <div class="copyright">-->
<!--      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved-->
<!--    </div>-->
<!--    <div class="credits">-->
<!--      &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
<!--      &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
<!--      &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
<!--      &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ &ndash;&gt;-->
<!--      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--    </div>-->
<!--  </footer>&lt;!&ndash; End Footer &ndash;&gt;-->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>