
form {
  border: 3px solid black;
}

h2{
    background-color:#f2f2f2
}

legend{
    background-color:  #cccccc;
    padding: 10px 14px;
}

section{
    float:right;
    margin: 100px 100px;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color:#f2f2f2;
}

button {
  color: black;
  padding: 14px 5px;
  margin: 10px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 25px;
  font-size: 20px;
  float: right;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}