/*h2{
    background-color:#f2f2f2
}*/

/*section*/
.secnewproject{
    margin: 150px auto;
    width: 50%;
    border:3px solid black;
    padding-top: 10px;
    border-radius: 25px;
    background-color:#f2f2f2;
}

/*division*/
.divnewproject{
    font-family:sans-serif;
}

/*form*/
form {
    padding: 30px;
}

/*fieldset*/
.fsnewproject{
  border-radius: 15px;
  border-color: black;
}

/*legend*/
legend{
    background-color:  #cccccc;
    padding: 10px 14px;
    border-radius: 15px;
}

/*button*/
button {
  color: black;
  padding: 5px 5px;
  margin: 10px auto;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 25px;
  font-size: 20px;
  float: right;
}

/*Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

