/*body{
  background-color: #444444;
}

*//*section*/
/*
.secnewproject{
    margin: 150px auto;
    width: 50%;
    border:3px solid black;
    padding-top: 10px;
    border-radius: 25px;
    background-color:#f2f2f2;
}
*/

/*division*/
.divnewproject{
    font-family:sans-serif;
}

/*form*/
form {
    padding: 30px;
}

/*fieldset*/
.fsnewproject{
   border:3px solid black;
   border-radius: 15px;
   margin: auto;
   width: 50%;
   padding: 50px;
   background-color: #fafafa;
   color: black;
   font-size: 20px;

}

/*legend*/
legend{
    background-color: #fafafa;
    padding: 10px 14px;
    border-radius: 15px;
}

/*button*/
button {
  color: black;
  padding: 5px 5px;
  margin: 20px 300px;
  border: none;
  cursor: pointer;
  width: 10%;
  border-radius: 25px;
  font-size: 20px;
  float: right;
}

/*Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

